@import './variables.scss';

section.projects {
    position: relative;
    display: block;
    padding: 0px $mobile-center-padding;
    width: 100%;
    margin-top: 50px;
    padding-top: $header-height;
    transition-duration: 0.3s;

    fieldset {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        gap: calc(5vh + 20px) 10%;
        width: 100%;
        height: auto;
        border: none;
        border-top: 1px solid $primary-alpha;
        transition-duration: 0.3s;

        legend {
            position: relative;
            text-align: center;
            font-size: calc($font-size + 5vw);
            font-weight: bold;
            color: $primary-alpha;
            margin-bottom: 50px;
            padding: 0px calc(2.5vw + 10px);
        }

        a.project {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 20%;
            flex-shrink: 0;
            flex-grow: 1;
            padding: 15px;
            gap: 10px;
            background-color: $primary-beta;
            min-width: 250px;
            max-width: 50%;
            border-radius: 10px;
            transition-duration: 0.3s;
            border: 1px solid $color-primary;

            &:hover {
                box-shadow: 0px 0px 10px $color-primary;
                transform: translateY(-10px);
            }

            div.content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                height: auto;
                gap: 5px;

                h1 {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    font-size: $font-size * 1.5;
                    font-weight: bold;

                    img {
                        position: relative;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                    }
                }
    
                p {
                    font-size: $font-size;
                    text-align: justify;
                }
            }

            div.technologies {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: auto;

                div.technology {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: auto;
                    height: auto;
                    padding: 5px 10px;
                    border-radius: 5px;
                    gap: 5px;
                    background-color: $primary-alpha;
                    transition-duration: 0.3s;

                    p {
                        font-size: $font-size * 0.75;
                    }

                    img {
                        position: relative;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    section.projects {
        fieldset {
            gap: calc(5vh + 20px) 5%;

            legend {
                font-size: calc($font-size * 2 + 1vw);
            }
        }
    }
}

@media screen and (max-width: 650px) {
    section.projects {
        fieldset {
            a.project {
                min-width: 80%;
            }
        }
    }    
}