@import './variables.scss';

section.studies {
	position: relative;
	display: block;
	padding: 0px $mobile-center-padding;
	width: 100%;
	margin-top: 50px;
	padding-top: $header-height;
	transition-duration: 0.3s;

	fieldset {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		gap: calc(5vh + 20px) 10%;
		width: 100%;
		height: auto;
		border: none;
		border-top: 1px solid $primary-alpha;
		transition-duration: 0.3s;

		legend {
			position: relative;
			text-align: center;
			font-size: calc($font-size + 5vw);
			font-weight: bold;
			color: $primary-alpha;
			margin-bottom: 50px;
			padding: 0px calc(2.5vw + 10px);
		}

		div.study {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			height: auto;

			a.study_school {
				position: relative;
				display: flex;
				flex-flow: row nowrap;
				justify-content: flex-start;
				align-items: center;
				gap: calc(1vw + 5px);
				font-size: calc($font-size + 1.5vw);
				font-weight: bold;
				transition-duration: 0.3s;

				&:hover {
					transform: translate(0px, -5px);
				}

				img {
					position: relative;
					height: calc($font-size + 1.5vw);
					aspect-ratio: 1/1;
					background-color: transparent;
				}
			}

			ul {
				list-style: none;
				margin-top: 3vh;
				padding-right: 0px;
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	section.studies {
		fieldset {
			gap: calc(5vh + 20px) 5%;

			legend {
				font-size: calc($font-size * 2 + 1vw);
			}
		}
	}
}

@media screen and (max-width: 650px) {
	section.studies {
		fieldset {
			div.study {
				ul {
					li {
						div.study_skills {
							& > div {
								min-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
