$color-background: #d0beaa;
$text-color: #180202;
$color-primary: #7a6650;
$primary-alpha: #977F63;
$primary-beta: rgba(151, 127, 99, 0.3);
$color-secondary: #E9E3DD;
$center-padding: 15vw;
$font-size: 17px;
$mobile-center-padding: 5vw;
$header-height: 60px;