@import '../variables.scss';

a.project {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 20%;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 15px;
	gap: 10px;
	background-color: $primary-beta;
	min-width: 250px;
	max-width: 50%;
	border-radius: 10px;
	transition-duration: 0.3s;
	border: 1px solid $color-primary;

	&:hover {
		box-shadow: 0px 0px 10px $color-primary;
		transform: translateY(-10px);
	}

	div.content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		height: auto;
		gap: 5px;

		h1 {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: auto;
			font-size: $font-size * 1.5;
			font-weight: bold;

			img {
				position: relative;
				display: block;
				width: 20px;
				height: 20px;
				background-color: transparent;
			}
		}

		p {
			font-size: $font-size;
			text-align: justify;
		}
	}
}
